<nav>
  <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a> |
  <a [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin</a> |
  <a [routerLink]="['/company']" routerLinkActive="router-link-active" >Company</a> |
  <a [routerLink]="['/customer']" routerLinkActive="router-link-active" >Customer</a> |

 

  <ng-container *ngIf="isLoggedIn(); then thenTemplate; else elseTemplate"></ng-container>
  <ng-template #thenTemplate>
    <a (click)="showLogOutDialog()">Logout</a> |
  </ng-template>
  <ng-template #elseTemplate>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a> |

  </ng-template>
  

    
  
</nav>

<router-outlet></router-outlet>